<h1>Choose your trip</h1>
<div class="list">
<%= @trip %>
  <%= @trip.title %>
  <%= @trip.details %>
  <%= @trip.total_participant %>
</div>
<div>
    <%= link_to "Book", new_trip_booking_path(@trip) %>
<div>