<h1>Your bookings</h1>

<!--<ul>
  <% @trips.bookings.each do |booking| %>
    <li><%#= booking.title, booking.type, booking %></li>
<h1>Your bookings list</h1>

<ul>
  <% @bookings.each do |booking| %>
    <li><%= booking.title%></li>
    <li><%= booking.category %></li>
    <li><%= booking.price%></li>
    <li><%= booking.total_participant %></li>
    <%= link_to 'Delete a booking', booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
  <br><br>
</ul>

<%= link_to 'Go back to the lists', trips_path %>
