<div>
  <h1>Book <%= @trip.title %> </h1>
</div>

<div>
  <%= simple_form_for (@booking) do |f| %>
    <%=f.input :start_date, as: :date%>
    <%=f.input :end_date, as: :date%>
    <%=f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>

<%= link_to "Back to lists", trips_path %>
