<div class="position-relative">
  <section class="showcase">
    <header>
      <h2 class="logo">Your Epic Trips</h2>
      <div class="toggle"></div>
    </header>
    <%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "video" %>
    <div class="text">
      <h2>Discover Mauritius With Us</h2>
      <p>Enjoy the best trips of Mauritius with Your Epic Trips</p>
      <p>From deep sea diving to sky diving, we offer a variety of trips for you to enjoy</p>
      <%= link_to "Discover", trips_path, class: "link-first" %>
    </div>
    <ul class="social">
      <li><%= image_tag "fb.png", class: "link-second" %></li>
      <li><%= image_tag "it.png", class: "link-second" %></li>
      <li><%= image_tag "tw.png", class: "link-second" %></li>
    </ul>
  </section>
</div>
<div class="container mt-5">
  <h3>Discover our best</h3>
  <div class="card-3-col">
    <div class="card">
      <%= image_tag "racing.jpg" %>
      <p>Race at full speed on the tracks of Mapou</p>
    </div>
    <div class="card">
      <%= image_tag "undersea.jpg", height: 225 %>
      <p>Come and discover the under sea world of Mauritius</p>
    </div>
    <div class="card">
      <%= image_tag "dive.jpg", height: 225 %>
      <p>Meet the dolphins at Le Morne</p>
    </div>
  </div>
</div>
<br>
<br>


